# **Aula 11 - 06/05/2024 - Conjuntos**

In [ ]:
volei = {"João", "Carlos", "Maria", "José","Carlos"}
print(volei) #observe que itens duplicados são ignorados
print(type(volei))

{'João', 'José', 'Maria', 'Carlos'}
<class 'set'>

Conjuntos e valores lógicos

In [ ]:
conj_01 = {"Soja",True, 1, False, 0, 2.34, 23}
print(conj_01)

{False, True, 2.34, 'Soja', 23}

Tamanho do conjunto

In [ ]:
print(len(volei))

4

Construindo conjuntos

In [ ]:
volei = {"João", "Carlos", "Maria", "José","Carlos"} # definindo o conj. diretamente
volei = set(("João", "Carlos", "Maria", "José","Carlos")) #construtor e tupla
volei = set(["João", "Carlos", "Maria", "José","Carlos"]) #construtor e lista

Usando conjuntos para eliminar valores duplicados de listas.

In [ ]:
lista_volei = ["João", "Carlos", "Maria", "José","Carlos"]
conj_volei = set(lista_volei)
lista_volei = list(conj_volei)
print(lista_volei)

['José', 'Carlos', 'Maria', 'João']

In [ ]:
print(list(set(["João", "Carlos", "Maria", "José","Carlos"])))

['José', 'Carlos', 'Maria', 'João']

Acessando os itens do conjunto

In [ ]:
volei = {"João", "Carlos", "Maria", "José","Carlos"}
for item in volei:
  print(item, item in volei)

Carlos True
José True
Maria True
João True

Adicionando item a um conjunto

In [ ]:
pets = {"Cão", "Gato"}
pets.add("Coelho")
pets.add("Pássaro")
print(pets)
pets.add("Cão")
print(pets)

{'Cão', 'Coelho', 'Pássaro', 'Gato'}
{'Cão', 'Coelho', 'Pássaro', 'Gato'}

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho"}
pets_01.update(pets_02)
print(pets_01)

{'Cão', 'Coelho', 'Pássaro', 'Gato'}

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = ["Pássaro", "Coelho", "Cão"]
pets_01.update(pets_02)
print(pets_01)

{'Cão', 'Coelho', 'Pássaro', 'Gato'}

Removendo item do conjunto

In [ ]:
pets_01 = {"Cão", "Gato", "Pássaro", "Coelho", "Cão"}
pets_01.remove("Pássaro")
print(pets_01)

{'Cão', 'Coelho', 'Gato'}

Se o item não existe no conjunto, o remove resultará em erro. Por isso, tem o discard

In [ ]:
pets_01 = {"Cão", "Gato", "Pássaro", "Coelho", "Cão"}
pets_01.discard("Hamster")
print(pets_01)

{'Cão', 'Coelho', 'Pássaro', 'Gato'}

Clear apaga os itens do conjunto

In [ ]:
pets_01 = {"Cão", "Gato", "Pássaro", "Coelho", "Cão"}
pets_01.clear()
print(pets_01)

set()

Del apaga o cojunto

In [ ]:
pets_01 = {"Cão", "Gato", "Pássaro", "Coelho", "Cão"}
del pets_01
print(pets_01)

NameError: name 'pets_01' is not defined

União de conjuntos: pode-se usar union ou update

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho"}
pets_03 = pets_01.union(pets_02)
print(pets_03)

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho"}
pets_03 = {"Tartaruga", "Cavalo"}
pets_04 = pets_01.union(pets_02,pets_03)
print(pets_04)

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho"}
pets_03 = {"Tartaruga", "Cavalo"}
pets_04 = pets_01 | pets_02 | pets_03
print(pets_04)

O operador | permite unir conjuntos com outros conjuntos e não com outras coleções (listas, tuplas). Caso você queira juntar conjuntos com listas (ou tuplas) user o método union

Intersecção

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
comuns = pets_01.intersection(pets_02)
print(comuns)

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
comuns = pets_01 & pets_02
print(comuns)

{'Cão'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

Diferença entre conjuntos

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
diferenca = pets_01.difference(pets_02)
print(diferenca)

{'Gato'}

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
diferenca = pets_02 - pets_01
print(diferenca)

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
pets_02.difference_update(pets_01)
print(pets_02)

{'Coelho', 'Pássaro'}

Diferença simétrica

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
dif_simetrica = pets_02.symmetric_difference(pets_01)
print(dif_simetrica)

{'Coelho', 'Pássaro', 'Gato'}

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
dif_simetrica = pets_02 ^ pets_01
print(dif_simetrica)

In [ ]:
pets_01 = {"Cão", "Gato"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
pets_02.symmetric_difference_update(pets_01)
print(pets_02)

{'Coelho', 'Pássaro', 'Gato'}

Verificar se é subconjunto

In [ ]:
pets_01 = {"Cão", "Pássaro"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
print(pets_01.issubset(pets_02))

In [ ]:
pets_01 = {"Cão", "Pássaro"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
print(pets_01 <= pets_02)

Verificar se é superconjunto

In [ ]:
pets_01 = {"Cão", "Pássaro"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
print(pets_02.issuperset(pets_01))

In [ ]:
pets_01 = {"Cão", "Pássaro"}
pets_02 = {"Pássaro", "Coelho", "Cão"}
print(pets_02 >= pets_01)