# **Aula 10  - 29/04/2024**

Tupla é coleção, ordenada (os elementos são armazenados em ordem), não mutável (unchangeable) e que permite duplicatas de dados homogêneos ou heterogêneos.

In [ ]:
exemplo_tupla_01 = tuple((1,2,4,5))
exemplo_tupla_02 = tuple(("A", "B", "C","D"))
exemplo_tupla_03 = tuple((True, False, True, False, False))
exemplo_tupla_04 = tuple(("A",1,True,3,4,5))
print(exemplo_tupla_01)
print(exemplo_tupla_02)
print(exemplo_tupla_03)
print(exemplo_tupla_04)

(1, 2, 4, 5)
('A', 'B', 'C', 'D')
(True, False, True, False, False)
('A', 1, True, 3, 4, 5)

**IMPORTANTE:** Quando se cria uma tupla com um único elemento, insira uma vírgula após o item, pois, caso contrário o elemento não será reconhecido como uma tupla.

In [ ]:
x = tuple((1,))
print(type(x))

<class 'tuple'>

In [ ]:
print(type(exemplo_tupla_01))

<class 'tuple'>

In [ ]:
print(exemplo_tupla_01)
print(len(exemplo_tupla_01))

(1, 2, 4, 5)
4

In [ ]:
print(exemplo_tupla_02)
print(exemplo_tupla_02[0])
print(exemplo_tupla_02[0:2])
print(exemplo_tupla_02[-1])

('A', 'B', 'C', 'D')
A
('A', 'B')
D

Verficar se elemento está na tupla

In [ ]:
print("A" in exemplo_tupla_02)
print("Z" in exemplo_tupla_02)

True
False

Atualiando tuplas

In [ ]:
animais = tuple(('Iena', 'Cavalo', 'Cachorro', 'Coelho'))
print(animais)
animais_lista = list(animais)
animais_lista.append('Elefante')
print(animais_lista, type(animais_lista))
animais = tuple(animais_lista)
print(animais, type(animais))

('Iena', 'Cavalo', 'Cachorro', 'Coelho')
['Iena', 'Cavalo', 'Cachorro', 'Coelho', 'Elefante'] <class 'list'>
('Iena', 'Cavalo', 'Cachorro', 'Coelho', 'Elefante') <class 'tuple'>

In [ ]:
animais = tuple(('Iena', 'Cavalo', 'Cachorro', 'Coelho'))
print(animais)
animais_lista = list(animais)
animais_lista.remove('Iena')
print(animais_lista, type(animais_lista))
animais = tuple(animais_lista)
print(animais, type(animais))

('Iena', 'Cavalo', 'Cachorro', 'Coelho')
['Cavalo', 'Cachorro', 'Coelho'] <class 'list'>
('Cavalo', 'Cachorro', 'Coelho') <class 'tuple'>

Descompactando tuplas

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Usando * para descompactar uma tupla

In [ ]:
animais_lista.append('Leão')
animais_lista.append('Elefante')
animais_lista.append('Camelo')
animais_lista.append('Coruja')
animais = tuple(animais_lista)
print(animais)
(animal_1, animal_2, *animal_3) = animais
(*animal_4,) = animais #descompactando uma tupla em uma lista.
print(animal_1)
print(animal_2)
print(animal_3)
print(animal_4)

('Cavalo', 'Cachorro', 'Coelho', 'Leão', 'Elefante', 'Camelo', 'Coruja')
Cavalo
Cachorro
['Coelho', 'Leão', 'Elefante', 'Camelo', 'Coruja']
['Cavalo', 'Cachorro', 'Coelho', 'Leão', 'Elefante', 'Camelo', 'Coruja']

Loop em tuplas

In [ ]:
for x in animais:
  print(x)

In [ ]:
for i in range(len(animais)):
  print(animais[i])

In [ ]:
i = 0
while i < len(animais):
  print(animais[i])
  i = i + 1

Juntando tuplas

In [ ]:
t1 = tuple((1,3,4))
t2 = tuple((5,6,7))
t3 = t1 + t2
print(t3, type(t3))

(1, 3, 4, 5, 6, 7) <class 'tuple'>

Multiplicando tuplas

In [ ]:
t1 = tuple(("a", "b","c"))
t2 = t1 * 2
print(t2)

Método count

In [ ]:
print(t2)
print(t2.count('a')) #conta quantos elementos ocorrem na tupla

Método index

In [ ]:
print(t2)
print(t2.index('c'))  #enconta o índice do primeiro elemento igual ao argumento