# **Correção dos exercícios da aula 04**

**Exercício 01 da aula 04**

In [ ]:
nomes = list() #inicia uma lista vazia
#nomes.append(str(input("Digite o 1o nome: "))) #recebe o 1o nome e junta na lista.
#nomes.append(str(input("Digite o 2o nome: "))) #recebe o 2o nome e junta na lista.
#nomes.append(str(input("Digite o 3o nome: "))) #recebe o 3o nome e junta na lista.
#nomes.append(str(input("Digite o 4o nome: "))) #recebe o 4o nome e junta na lista.
#nomes.append(str(input("Digite o 5o nome: "))) #recebe o 5o nome e junta na lista.
nomes = ['Silvia', 'Maria', 'Isabel', 'André', 'Carlos']
#ordena as listas
nomes = [x.upper() for x in nomes]
nomes.sort()
print(nomes)
nomes = [x.lower() for x in nomes]
nomes.sort(reverse=True)
print(nomes)
nomes = [x.capitalize() for x in nomes]
nomes.sort()
print(nomes)

['ANDRÉ', 'CARLOS', 'ISABEL', 'MARIA', 'SILVIA']
['silvia', 'maria', 'isabel', 'carlos', 'andré']
['André', 'Carlos', 'Isabel', 'Maria', 'Silvia']

In [ ]:
n1 = input("Digite o 1o nome: ") #recebe o 1o nome e junta na lista.
n2 = input("Digite o 2o nome: ") #recebe o 2o nome e junta na lista.
n3 = input("Digite o 3o nome: ") #recebe o 3o nome e junta na lista.
n4 = input("Digite o 4o nome: ") #recebe o 4o nome e junta na lista.
n5 = input("Digite o 5o nome: ") #recebe o 5o nome e junta na lista.
nomes = [n1, n2, n3, n4, n5]
nomes = [x.upper() for x in nomes]
nomes.sort()
print(nomes)
nomes = [x.lower() for x in nomes]
nomes.sort(reverse=True)
print(nomes)
nomes = [x.capitalize() for x in nomes]
nomes.sort()
print(nomes)

Digite o 1o nome: a
Digite o 2o nome: a
Digite o 3o nome:
Digite o 4o nome:
Digite o 5o nome: a
['', '', 'A', 'A', 'A']
['a', 'a', 'a', '', '']
['', '', 'A', 'A', 'A']

**Exercício 02 da aula 04**

In [ ]:
a = [2, 3, 4, 5, 5, 6]
a.sort()
print(a)
print(sum(a))
print('Tamanho da lista: ', len(a))
print('Média da lista {:.2f}'.format(sum(a)/len(a)))

[2, 3, 4, 5, 5, 6]
25
Tamanho da lista:  6
Média da lista 4.17

# **List Comprehension**

In [ ]:
numeros = [x for x in range(1,21)] #cria uma lista entre 1 e 20
print(numeros)
print(len(numeros)) #retorna o número de elementos na lista
print(sum(numeros)) #retorna a soma dos elementos numéricos da lista
print(max(numeros)) #retorna o máximo da lista
print(min(numeros)) #retorna o mínimo da lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
20
210
20
1

In [ ]:
numeros = [x for x in range(1,21,2)] #cria uma lista entre 1 e 20 de 2 em 2
print(numeros)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
numeros = [x for x in range(20,0,-2)] #cria uma lista entre 20 e 0 de -2 em -2
print(numeros)

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [ ]:
numeros = [x for x in range(0,101,5)] #cria uma lista entre 20 e 0 de -2 em -2
print(numeros)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [ ]:
#uma lista com os quadrados dos números entre 1 e 20
quadrados = [x**2 for x in range(1,21)]
print(quadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
#vamos calcular os múltiplos de 3 entre 0 e 100
multiplos_3 = [x for x in range(0, 101) if x%3==0]
print(multiplos_3)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
# faça uma lista que calcule todos múltiplos de 5 entre 0 e 50.
multiplos_5 = [x for x in range(0, 51) if x%5==0]
print(multiplos_5)
print(sum(multiplos_5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
275

In [ ]:
#faça a raiz quadrada de todos os inteiros entre 1 e 20.
import math
raizes = [math.sqrt(x) for x in range(1,21)]
print(raizes)
quadrado = [x*x for x in raizes]
print(quadrado)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958]
[1.0, 2.0000000000000004, 2.9999999999999996, 4.0, 5.000000000000001, 5.999999999999999, 7.000000000000001, 8.000000000000002, 9.0, 10.000000000000002, 11.0, 11.999999999999998, 12.999999999999998, 14.0, 15.000000000000002, 16.0, 17.0, 17.999999999999996, 19.000000000000004, 20.000000000000004]

In [ ]:
#gere uma lista de números aleatórios
import random #importa a biblioteca para geração de números aleatórios
a = [random.randint(1,50) for x in range(1,21)] #
print(a)

[41, 38, 23, 23, 43, 22, 2, 37, 13, 30, 32, 41, 28, 37, 44, 6, 38, 48, 42, 45]

In [ ]:
#gerador de palpite para megasena
from numpy import random   #importou o módulo aleatório (random) do pacote numpy
import numpy as np #importa a numpy e chamou de np
n = [x for x in range(1,61)]  #gerou uma lista com numeros entre 1 e 60
numeros = np.array(n)  #gerou um array numpy
print(numeros)
numeros_permutados = random.permutation(numeros) #permutou o array
print(numeros_permutados)
aposta = numeros_permutados[0:6] #pegou os 6 primeiros numeros
print(np.sort(aposta))

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60]
[12 23 27 59 57 17  7 40 38  4 48 34 20 51 24 14 41 42 18 32  3 60  9 46
 19 10  6 35 45 16 50 25 31 26 43 56  5 54 22 36  2 55 29 44 33 47 13 37
 28 15 53 21 39 49 58  1  8 52 11 30]
[12 17 23 27 57 59]

# **While Loops**

In [ ]:
i = 1
while i < 6: #repete o bloco abaixo enquanto a condição for verdadeira
  print(i)
  i = i + 1

**Exemplo: cáluclo da média de n números**

In [ ]:
#solicitar a quantidade de números
n = int(input("Quantos números para calcular a média? "))
i = 0
numeros = []
while i < n:
  print('\nDigite o {:d}o número'.format(i+1))
  numeros.append(float(input("Digite um número: ")))
  i = i + 1
print('\nMédia: {:.2f}'.format(sum(numeros)/len(numeros)))

Quantos números para calcular a média? 4

Digite o 1o número
Digite um número: 25

Digite o 2o número
Digite um número: 50

Digite o 3o número
Digite um número: 25

Digite o 4o número
Digite um número: 20

Média: 30.00