# **Correção da Lista da aula 03**

Exercício 01

In [ ]:
p1 = float(input("Digite a nota da prova 1 (entre 0 e 10): "))
p2 = float(input("Digite a nota da prova 2 (entre 0 e 10): "))
freq = float(input("Digite a frequência em % (entre 0 e 100): "))
med = (p1 + p2)/2
if med < 4.0 :
  print("\nReprovado por média inferior a 4.0.")
if freq < 75:
  print("\nReprovado por frequencia inferior a 75%.")
if freq >=75 and (med>=4.0 and med < 7.0):
  print("\nExame.")
if freq >=75 and med >=7:
  print("\nAprovado.")

Digite a nota da prova 1 (entre 0 e 10): 1
Digite a nota da prova 2 (entre 0 e 10): 1
Digite a frequência em % (entre 0 e 100): 1

Reprovado por média inferior a 4.0.

Reprovado por frequencia inferior a 75%.

Exercício 02

In [ ]:

#solitando os dados para o usuário
a = float(input("Digite o lado a do triângulo: "))
b = float(input("Digite o lado b do triângulo: "))
c = float(input("Digite o lado c do triângulo: "))

if (abs(b-c) < a < (b + c)) and (abs(a-c) < b < (a + c)) and (abs(a-b) < c < (a +b)):
  print("\nO triângulo existe")
else:
  print('\nO triângulo com lados {:.2f}, {:.2f}, {:.2f} não existe!'.format(a,b,c))

Digite o lado a do triângulo: 3
Digite o lado b do triângulo: 4
Digite o lado c do triângulo: 5

O triângulo existe

# **Listas**

In [ ]:
frutas = ['limão', 'morango', 'laranja', 'abacate', 'acerola', 'melancia']
print(frutas)

['limão', 'morango', 'laranja', 'abacate', 'acerola', 'melancia']

In [ ]:
num = [2, 4 , 5, 6, 10]
print(num)

[2, 4, 5, 6, 10]

In [ ]:
pessoas = ['João', 30 , 'Maria', 25]
print(pessoas)

['João', 30, 'Maria', 25]

In [ ]:
print(type(pessoas)) #imprime o tipo da variável pessoas

<class 'list'>

In [ ]:
print(len(pessoas)) #imprime o tamanho (lenght) da lista pessoas

4

Acessando os dados de uma lista

In [ ]:
print(frutas)

['limão', 'morango', 'laranja', 'abacate', 'acerola', 'melancia']

In [ ]:
print(frutas[0]) #acessando o primeiro item da lista fruta

limão

In [ ]:
print(frutas[-1]) #acessa o último elemento da lista

melancia

In [ ]:
print(frutas[-2]) #retorna o penultimo elemento da lista

acerola

In [ ]:
print(frutas)

['limão', 'morango', 'laranja', 'abacate', 'acerola', 'melancia']

In [ ]:
print(frutas[2:]) #extrai a sublista do índice 2 para frente

['laranja', 'abacate', 'acerola', 'melancia']

In [ ]:
print(frutas[2:4]) #extrai a sublista do índice 2 ao índice 4

['laranja', 'abacate']

In [ ]:
print(frutas[-5:-2])

['morango', 'laranja', 'abacate']

In [ ]:
print(frutas)

['limão', 'morango', 'laranja', 'abacate', 'acerola', 'melancia']

In [ ]:
frutas[3] = 'banana' # substituindo um item na lista
print(frutas)

['limão', 'morango', 'laranja', 'banana', 'acerola', 'melancia']

In [ ]:
#substituindo vários itens
frutas[2:5] = ['jaca', 'pitaia', 'uva']
print(frutas)

['limão', 'morango', 'jaca', 'pitaia', 'uva', 'melancia']

In [ ]:
5#inserindo item em uma posição
frutas.insert(2,'melão') #uso do método insert
print(frutas)

['limão', 'morango', 'melão', 'jaca', 'pitaia', 'uva', 'melancia']

In [ ]:
#inserindo item em uma posição
outras_frutas = ['jaboticaba', 'tangerina']
frutas.extend(outras_frutas) #uso do método extend
print(frutas)

['limão', 'morango', 'melão', 'jaca', 'pitaia', 'uva', 'melancia', 'jaboticaba', 'tangerina']

In [ ]:
frutas.remove('limão') #método remove: remove pelo valor do item. Remove a primeira ocorrência.
print(frutas)

['morango', 'melão', 'jaca', 'pitaia', 'uva', 'melancia', 'jaboticaba', 'tangerina']

In [ ]:
frutas.pop(5) #método pop, remove o elemento cujo índice é indicado.
print(frutas)

['morango', 'melão', 'jaca', 'pitaia', 'uva', 'jaboticaba', 'tangerina']

In [ ]:
frutas.pop() #pop sem índice remove o último item da lista
print(frutas)

['morango', 'melão', 'jaca', 'pitaia', 'uva', 'jaboticaba']

In [ ]:
del frutas[3] #del remove o item com o índice 3.
print(frutas)

['morango', 'melão', 'jaca', 'uva', 'jaboticaba']

In [ ]:
print(num)
num.clear() #clear apaga a lista toda
print(num)

[2, 4, 5, 6, 10]
[]

Loop através de uma lista

In [ ]:
for x in frutas: #percorre a lista frutas, atribui cada elemento a x e imprime
  print(x)

morango
melão
jaca
uva
jaboticaba

In [ ]:
for x in frutas: #percorre a lista frutas, atribui cada elemento a x e imprime
  print(x.upper())
  print(x.capitalize())
  print(x.lower())

MORANGO
Morango
morango
MELÃO
Melão
melão
JACA
Jaca
jaca
UVA
Uva
uva
JABOTICABA
Jaboticaba
jaboticaba

Ordenação de string

In [ ]:
frutas = ['limão', 'morango', 'laranja', 'abacate', 'Acerola', 'Melancia']
frutas.sort() #ordena a lista em ordem crescente, de A a Z. Case Sensitive
print(frutas)
frutas.sort(reverse = True) #ordena a lista em ordem decrescente de Z a A. Case Sensitive
print(frutas)
frutas.sort(key = str.lower) #ordena a lista em ordem crescente, de A a Z. Case Insensitive
print(frutas)
frutas.sort(key = str.lower, reverse = True) #ordena a lista em ordem crescente, de A a Z. Case Insensitive
print(frutas)

['Acerola', 'Melancia', 'abacate', 'laranja', 'limão', 'morango']
['morango', 'limão', 'laranja', 'abacate', 'Melancia', 'Acerola']
['abacate', 'Acerola', 'laranja', 'limão', 'Melancia', 'morango']
['morango', 'Melancia', 'limão', 'laranja', 'Acerola', 'abacate']

In [ ]:
letras = ['Aa', 'aA', 'aa', 'AA']
letras.sort()
print(letras)
letras.sort(key = str.lower)
print(letras)

['AA', 'Aa', 'aA', 'aa']
['AA', 'Aa', 'aA', 'aa']

Copiar lista

In [ ]:
herois = ['Batman', 'Homem-aranha', 'Flash']
herois2 = herois #herois2 aponta para o mesmo obj de herois
print(herois2)
print(id(herois), id(herois2)) #herois e herois2 possuem o mesmos ids na mem.
herois[0] = 'Hulk'
print(herois2)
herois3 = herois.copy()
print(herois3, id(herois3))
herois2[2] = 'Robin'
print(herois2, herois3)

['Batman', 'Homem-aranha', 'Flash']
140522542619712 140522542619712
['Hulk', 'Homem-aranha', 'Flash']
['Hulk', 'Homem-aranha', 'Flash'] 140522542619584
['Hulk', 'Homem-aranha', 'Robin'] ['Hulk', 'Homem-aranha', 'Flash']

Juntar listas

In [ ]:
flores_1 = ['Rosas', 'Margarida', 'Girassol']
flores_2 = ['Tulipa', 'Margarida', 'lírios', 'Orquídea']
flores_3 = flores_1 + flores_2
print(flores_3)
flores_4 = list(flores_1)
flores_4.extend(flores_2)
print(flores_4)

['Rosas', 'Margarida', 'Girassol', 'Tulipa', 'Margarida', 'lírios', 'Orquídea']
['Rosas', 'Margarida', 'Girassol', 'Tulipa', 'Margarida', 'lírios', 'Orquídea']