# **Lista 01**

Exercício 28

In [ ]:
b = "Hello, World!"
print(b[2:5])
print(b[2:])
for x in b:
  print(x)

Exercício 30

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

Exercício 31

In [ ]:
x = 5
y = 2
print(x % y)

Exercício 35

In [ ]:
n = int(input("Digite um número inteiro: "))
if n%2 == 0:
  print('{:d} é múltiplo de 2'.format(n))
if n%3 == 0:
  print('{:d} é múltiplo de 3'.format(n))
if n%4 == 0:
  print('{:d} é múltiplo de 4'.format(n))
if n%5 == 0:
  print('{:d} é múltiplo de 5'.format(n))
if n%6 == 0:
  print('{:d} é múltiplo de 6'.format(n))
if n%7 == 0:
  print('{:d} é múltiplo de 7'.format(n))
if n%8 == 0:
  print('{:d} é múltiplo de 8'.format(n))
if n%9 == 0:
  print('{:d} é múltiplo de 9'.format(n))

In [ ]:
n = int(input("Digite um número inteiro: "))
numeros = [2,3,4,5,6,7,8,9]
for x in numeros:
  if n%x == 0:
    print('{:d} é múltiplo de {:d}'.format(n,x))

In [ ]:
n = int(input("Digite um número inteiro: "))
numeros = [2,3,4,5,6,7,8,9]
for x in range(2,10):
  if n%x == 0:
    print('{:d} é múltiplo de {:d}'.format(n,x))

Exercício 36

In [ ]:
print("Programa para resolver a equação do primeiro grau ax+b=0")
a = float(input("Digite o coeficiente a diferente e zero: "))
if a == 0 :
  print("O coeficiente a deve ser diferente de zero. Tchau!")
else:
  b = float(input("Digite o coeficiente b: "))
  x = -b/a
  print('\nA raiz da equação {:.2f}x+{:.2f} = 0 é x = {:.2f}'.format(a,b,x))

Exercício 37

In [ ]:
print("Cálculo do Índice de Massa Corporal - imc")
peso = float(input("Digite o peso em kg: "))
altura = float(input("Digite a altura em m: "))
imc = peso/(altura*altura)
if imc <= 18.5:
  print('imc = {:.2f} -> magro com risco normal ou elevado de doença'.format(imc))
elif imc >18.5 and imc < 24.9 :
  print('imc = {:.2f} -> normal (eutrófico) com risco pouco elevado de doença'.format(imc))
elif 24.9 < imc <= 29.9 :
  print('imc = {:.2f} -> sobrepeso com risco normal de doença'.format(imc))

Exercício 38

In [ ]:
for num in range(2,11):
  for i in range(1,11):
    print('{} x {} = {}'.format(num,i, num * i))
  print("\n")

Exercício 39

In [ ]:
for i in range(5,0,-1):
  print(str(i) * i)

In [ ]:
for i in range(5):
  print(str(i) * i)

In [ ]:
for i in range(1,5):
  print(str(i) * i)

Exercício 40

In [ ]:
fib = []
n = int(input("\nQuantos números da seq de Fibonacci? :"))
if n == 0:
  print("\nNão há números para se imprimir!")
if n == 1:
  fib.append(1)
  print(fib)
if n==2:
  fib = [1,1]
  print(fib)
if n>=2:
  fib = [1,1]
  for i in range(2,n):
    fib.append(fib[i-1]+fib[i-2])
    print(fib)

In [ ]:
#solução sem usar lista
n = int(input("\nQuantos números da seq de Fibonacci? :"))
if n == 0:
  print("\nNão há números para se imprimir!")
if n == 1:
  print("1")
if n==2:
  #print("1\n1")
  print("1")
  print("1")
if n>2:
  a = 1
  b = 1
  print("1\n1")
  for i in range(n-2):
    c = a + b
    print(c)
    a = b
    b = c

Exercício 45

In [ ]:
for i in range(0,101):
  if not(i%3==0 or i%5==0):
    print(i)

Exercício 46

In [ ]:
special_chars = ['!', '@', '#', '$', '%', '^', '&', '*']
word_list = ['se#$et', 'Ver*%&$lo', 'di$#^$nt', 'c*%e', 'is', '#%$#@!@#$%^$#']
x = "!"
print(x in special_chars)

47) Escreva um programa que obtenha o menor número de uma lista.

In [20]:
a = [3,15,6]
print(min(a))

3

In [26]:
a = [13,15,6,30,6,1, 8, 1]
min = a[0]
for x in a:
  if x < min:
    min = x
  print("min: ", min, "x: ",x)
print(min)

min:  13 x:  13
min:  13 x:  15
min:  6 x:  6
min:  6 x:  30
min:  6 x:  6
min:  1 x:  1
min:  1 x:  8
min:  1 x:  1
1

48) Escreva um programa que some os valores numéricos de uma lista.

In [ ]:
m = 0
a = [3,5,6]

for x in a:
  m = m + x
  print(m)
print(m)

In [16]:
a = [3,5,6]
print(sum(a))

14

Exercício 49
Escreva um programa que multiplique os valores de uma lista.

In [17]:
m = 1
a = [3,5,6]

for x in a:
  m = m*x
  print(m)
print(m)

3
15
90
90

Exercício 50

In [5]:
a = [10, 3, 4, 5, 5, 10, 3, 5, 6, 6, 1, 1]
b = set(a)
c = list(set(a))
print(b)
print(c)

{1, 3, 4, 5, 6, 10}
[1, 3, 4, 5, 6, 10]

In [ ]:
# Dada a lista
a = [10, 3, 4, 5, 5, 10, 3, 5, 6, 6, 1, 1]

# Crie um conjunto para armazenar os elementos únicos
elementos_unicos = set()

# Itere sobre a lista e adicione cada elemento ao conjunto
for elem in a:
    elementos_unicos.add(elem)

# Converta o conjunto de volta para uma lista
lista_resultante = list(elementos_unicos)

# Imprima o resultado
print("Lista sem duplicatas:", lista_resultante)

In [7]:
# Dada a lista
#a = [10, 3, 4, 5, 5, 10, 3, 5, 6, 6, 1, 1]
a = ["Maria", "João", "Carlos", "José", "Maria", "Carlos"]

# Crie uma lista vazia para armazenar os elementos únicos
elementos_unicos = []

# Itere sobre a lista
for elem in a:
    # Se o elemento ainda não estiver na lista de elementos únicos, adicione-o
    if elem not in elementos_unicos:
        elementos_unicos.append(elem)

# Imprima o resultado
print("Lista sem duplicatas:", elementos_unicos)

Lista sem duplicatas: ['Maria', 'João', 'Carlos', 'José']

51) Escreva um programa que receba um lista de palavras e remova as palavras maiores que n caracteres, onde n deverá ser informado pelo usuário.

In [40]:
a = ['Maria', 'João', 'Carlos', 'José', "Lú", "Bia"]
n = 4
b = []
for x in a:
  if len(x) <= n:
    b.append(x)
print(b)

['João', 'José', 'Lú', 'Bia']

Exercício 54

Faça um contator entre 3 e 10 usando o comando While

In [ ]:
i = 3
while i<=10:
  print(i)
  #i = i + 1
  i+=1

57) Faça um contator entre 0 e 30 que não apresente os múltiplos de 3.

In [ ]:
h = 0
while h < 31:
  if not(h%3==0):
    print(h)
  h +=1

In [ ]:
# usando for
for h in range(31):
  if not(h%3==0):
    print(h)

59) Escreva um programa que contenha duas funções: uma que receba o valor de Celsius e converta para Fahrenheit e outra que faça o inverso.

In [ ]:
def Celsius_para_Fahrenheit(tc):
  tf = (1.8*tc + 32.0)
  return tf

def Fahrenheit_para_Celsius(tf):
  return ((tf-32.0)/1.8)

print(Celsius_para_Fahrenheit(100))
print(Fahrenheit_para_Celsius(212))

In [44]:
def input_argumentos():
  a = float(input("Entre a: "))
  b = float(input("Entre b: "))
  return [a,b]

lista = []
lista = input_argumentos()
print(lista)

Entre a: 3
Entre b: 5
[3.0, 5.0]